name: CI

on: [push]

jobs:
  test-scf:
    name: Test on SCF Environment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - 5.2.5
          - nightly-5.3
          - nightly
    container:
      image: stevapple/swift-scf:${{ matrix.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: swift test --enable-test-discovery
      - name: Test CloudFunctions example
        run: |
          cd Examples/CloudFunctions
          swift build
      - name: Test LocalDebugging example
        run: |
          cd Examples/LocalDebugging/MyCloudFunction
          swift build

  test-linux-release:
    name: Test on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - bionic
          - focal
          - amazonlinux2
          - centos8
        version:
          - 5.2.5
    container:
      image: swift:${{ matrix.version }}-${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: swift test --enable-test-discovery
      - name: Test CloudFunctions example
        run: |
          cd Examples/CloudFunctions
          swift build
      - name: Test LocalDebugging example
        run: |
          cd Examples/LocalDebugging/MyCloudFunction
          swift build

  test-linux-nightly:
    name: Test on Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - bionic
          - focal
          - amazonlinux2
          - centos8
        version:
          - nightly
          - nightly-5.3
    container:
      image: swiftlang/swift:${{ matrix.version }}-${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: swift test --enable-test-discovery
      - name: Test CloudFunctions example
        run: |
          cd Examples/CloudFunctions
          swift build
      - name: Test LocalDebugging example
        run: |
          cd Examples/LocalDebugging/MyCloudFunction
          swift build

  test-macos:
    name: Test on macOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: swift test
      - name: Test CloudFunctions example
        run: |
          cd Examples/CloudFunctions
          swift build
      - name: Test LocalDebugging example
        run: |
          cd Examples/LocalDebugging/MyCloudFunction
          swift build
